:root {
    --facebook-blue: #1877f2;
    --facebook-green: #42b72a;
    --facebook-text: #1c1e21;
    --facebook-footer: #f0f2f5;
    --input-border: #dddfe2;
}

body {
    font-family: 'Inter', sans-serif;
    background-color: var(--facebook-footer);
    margin: 0;
}

/* Header */
.page-header {
    background-color: white;
    padding: 10px 0;
    border-bottom: 1px solid #dddfe2;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.05);
    display: none;
}

.header-content {
    max-width: 980px;
    margin: 0 auto;
    padding: 0 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.facebook-logo {
    font-size: 40px;
    color: var(--facebook-blue);
    font-weight: 700;
    text-decoration: none;
}

#facebook-logo {
    position: absolute;
    top: 30px;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 10;
}

/* Login page */
#login-page-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 72px;
    padding-bottom: 132px;
    min-height: 80vh;
}

.page-wrapper {
    max-width: 980px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 0 16px;
}

.text-section {
    width: 50%;
    padding-right: 32px;
    margin-top: 50px;
    flex: 1;
}

.tagline {
    font-size: 28px;
    font-weight: 400;
    line-height: 32px;
    color: var(--facebook-text);
    margin-top: 0;
    width: 500px;
}

.form-section {
    width: 396px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-card {
    background-color: white;
    padding: 20px 20px 24px 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .1), 0 8px 16px rgba(0, 0, 0, .1);
    width: 100%;
}

.form-card input,
.form-card select {
    width: 100%;
    padding: 14px 16px;
    margin-bottom: 12px;
    border: 1px solid var(--input-border);
    border-radius: 6px;
    font-size: 17px;
    line-height: 1.25;
    transition: box-shadow 0.1s;
    box-sizing: border-box;
}

.login-btn {
    background-color: var(--facebook-blue);
    color: white;
    font-size: 20px;
    font-weight: 700;
    padding: 14px 16px;
    border-radius: 6px;
    width: 100%;
    cursor: pointer;
    border: none;
}

.separator {
    border-bottom: 1px solid #dadde1;
    margin: 20px 0;
}

.create-btn {
    background-color: var(--facebook-green);
    color: white;
    font-size: 17px;
    font-weight: 700;
    padding: 14px 16px;
    border-radius: 6px;
    width: 70%;
    cursor: pointer;
    margin: 0 auto;
    display: block;
    border: none;
}

/* .create-page-link */
.create-page-link {
    margin-top: 20px;
}

.create-page-link a {
    font-size: 14px;
    font-weight: 600;
    text-decoration: none;
    color: black;
}

/* Signup page */
#signup-page-content {
    position: relative;
    background-color: var(--facebook-footer);
    padding-top: 100px;
    min-height: 100vh;
}

.facebook-logo-signup {
    font-size: 48px;
    color: var(--facebook-blue);
    font-weight: 700;
}

#signup-page-content .page-header {
    display: block;
}

.signup-form-container {
    margin: 0 auto;
    margin-top: 40px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1), 0 8px 16px rgba(0, 0, 0, 0.1);
    width: 90%;
    max-width: 432px;
    padding: 16px;
}

.signup-card-header {
    border-bottom: 1px solid #dadde1;
    padding-bottom: 10px;
    margin-bottom: 12px;
}

.signup-card-header h2 {
    font-size: 25px;
    font-weight: 700;
    line-height: 32px;
    text-align: center;
    color: var(--facebook-text);
    margin: 0;
}

.signup-card-header p {
    font-size: 15px;
    line-height: 24px;
    text-align: center;
    color: #606770;
    margin-top: 2px;
}

.name-fields {
    display: flex;
    gap: 8px;
}

.name-fields input {
    flex: 1;
    padding: 11px;
    font-size: 15px;
    height: 40px;
    width: 170px;
    border-radius: 5px;
    border: 1px solid;
    border-color: #ccd0d5;
    margin-top: 10px;
}

.signup-email input,
.signup-password input {
    padding: 11px;
    font-size: 15px;
    height: 40px;
    border-radius: 5px;
    border: 1px solid;
    border-color: #ccd0d5;
    margin-top: 10px;
    max-width: 398px;
    width: 100%;
}

.label-text {
    color: #606770;
    font-size: 12px;
    font-weight: 500;
    margin: 10px 0 4px 0;
}

.dropdown-fields {
    display: flex;
    gap: 8px;
    margin-bottom: 12px;
}

.gender-options {
    display: flex;
    gap: 10px;
}

.gender-box {
    flex: 1;
    display: flex;
    align-items: center;
    border: 1px solid var(--input-border);
    border-radius: 6px;
    padding: 10px;
    font-size: 15px;
    cursor: pointer;
}

.gender-box label {
    flex: 1;
    margin: 0;
    cursor: pointer;
}

.gender-box input[type="radio"] {
    width: auto;
    margin: 0 0 0 10px;
    cursor: pointer;
    height: 15px;
}

.policy-text {
    color: #777;
    font-size: 11px;
    margin: 16px 0;
}

.policy-text a {
    color: #777;
    text-decoration: none;
}

.signup-submit-btn {
    background-color: var(--facebook-green);
    color: white;
    font-size: 18px;
    font-weight: 700;
    padding: 12px 60px;
    border-radius: 6px;
    width: 55%;
    cursor: pointer;
    margin: 10px auto 10px;
    display: block;
    border: none;
}

/* Footer */
.page-footer {
    background-color: white;
    padding: 24px 0 64px 0;
    border-top: 1px solid #dddfe2;
}

.footer-content {
    max-width: 980px;
    margin: 0 auto;
    padding: 0 16px;
    color: #737373;
    flex-wrap: wrap;
    gap: 5px;
    padding-bottom: 8px;
    border-bottom: 1px solid #dddfe2;
    margin-bottom: 8px;
}

.footer-content a {
    text-decoration: none;
    color: black;
}

.language-links {
    display: flex;
    gap: 15px;
}

.plus {
    border: 2px solid #777;
    width: 20px;
    height: 20px;
    align-items: center;
}

@media (max-width: 900px) {
    #login-page-content {
        padding-top: 40px;
    }

    .page-wrapper {
        flex-direction: column;
        align-items: center;
        max-width: 500px;
        padding: 0 20px;
    }

    .text-section {
        width: 100%;
        padding-right: 0;
        text-align: center;
        margin-bottom: 20px;
    }

    .form-section {
        width: 100%;
    }

    .page-footer {
        padding: 16px 0 32px 0;
    }

    #signup-page-content {
        padding-top: 10px;
    }
}


@media (max-width: 600px) {

    #login-page-content {
        padding-top: 20px;
        padding-bottom: 40px;
    }

    .tagline {
        font-size: 22px;
        font-weight: 400;
        line-height: 32px;
        color: var(--facebook-text);
        margin-top: 0;
        width: 400px;
    }

    #signup-page-content {
        padding-top: 80px;
    }

    .signup-form-container {
        width: 100%;
        max-width: none;
        border-radius: 0;
        box-shadow: none;
        padding: 16px 12px 40px;
        min-height: 100vh;
    }

    #facebook-logo {
        top: 20px;
    }

    .facebook-logo-signup {
        font-size: 40px;
    }

    .signup-card-header h2 {
        font-size: 22px;
    }

    .signup-card-header p {
        font-size: 14px;
    }

    .name-fields {
        flex-direction: column;
        gap: 10px;
    }

    .name-fields input,
    .signup-email input,
    .signup-password input,
    .gender-box,
    .dropdown-fields select {
        width: 100%;
        max-width: 100%;
        box-sizing: border-box;
    }

    .gender-options {
        flex-direction: column;
        gap: 8px;
    }

    .signup-submit-btn {
        width: 100%;
        font-size: 16px;
        padding: 12px 0;
    }

    .page-footer {
        padding: 16px 0 32px;
    }

    .footer-content {
        text-align: center;
        font-size: 12px;
        flex-direction: column;
        gap: 8px;
    }

    .language-links {
        flex-wrap: wrap;
        justify-content: center;
        gap: 10px;
    }

    .meta-links {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 10px;
    }
}